body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
}

input {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding-left: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  outline: none;
}
